/* Estilos generales */
body {
    font-family: Arial, sans-serif; /* Fuente principal */
    background-color: #f2f2f2; /* Color de fondo */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
}

/* Estilos del marco del iPhone */
.iphone-frame {
    position: relative; /* Posición relativa para que los elementos internos se posicionen en relación con este contenedor */
    width: 400px; /* Tamaño del marco del iPhone */
    height: 800px; /* Tamaño del marco del iPhone */
    margin: 50px auto; /* Centra el marco horizontalmente y añade un margen superior */
    background-color: #f0f8ff; /* Azul muy claro como color de fondo */
    border: 2px solid black; /* Borde negro */
    border-radius: 40px; /* Borde redondeado del marco del iPhone */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Sombra del marco del iPhone */
    overflow: hidden; /* Oculta cualquier contenido que se desborde del marco del iPhone */
}



